<div class="container-body">
    <div class="row">

        <div class="col-md-12" style="margin-bottom: 50px;">
            <div class="wpb_column ">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <h1>Culture</h1>
                        <div>
                            <div class="wpb_wrapper">
                                <div>
                                    <p>As previous contingent workers ourselves, we understand how important
                                        the feeling of belonging is. Our aim is to create a place where people
                                        feel creative and free to pursue what makes them happy. There is no one road
                                        to compleating a task. We welcome and reward creative solutions!
                                    </p>
                                    <p>Development is a key motivator for us. We aim to achieve great things and expect
                                        our business partners to show the necessary level of commitment, not only to the
                                        job at hand, but to their personal development as well. </p>
                                    <p>We are one big family and we take care for each other. Which is why all employees
                                        have
                                        access to these awesome benefits :) !
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="list_wrapper">
            <ul>
                <li class="init-list">Full medical care, providing support when needed even for a close family member
                </li>
                <li class="init-list">24 day payed vacation</li>
                <li class="init-list">Access to premium training services and options for covering individual courses
                </li>
                <li class="init-list">Free gym membership for all employees + access to Yoga and other classes</li>
                <li class="init-list">Brand new equipment, custom for each employee based on experience and achievements
                </li>
            </ul>
        </div>

        <div class="image_wrapper" @fade>
            <figure class="vc_figure">
                <div class="vc_single_image-wrapper"><img class="vc_single_image-img "
                        src="https://images.pexels.com/photos/5413728/pexels-photo-5413728.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        width="540" height="350" alt="Culture" title="Culture"></div>
            </figure>
        </div>





        <div class="wpb_wrapper" style="margin-top: 50px;">
            <p>We aim to create a welcoming environment for all employees regardless of color, religion
                background or culture.
            </p>
            <p><strong>#OneForAll</strong> is our moto. We are the driving force behind our business and
                it is up to us to make it a successful one. Each of our victories is the result of our
                combined efforts.
            </p>
        </div>





        <div class="wpb_wrapper">
            <blockquote class="shortcode-blockquote">

                <div class="text">
                    Talent wins games, but teamwork and intelligence win championships.
                </div>



            </blockquote>
        </div>


    </div>
</div>