.header-menu-wrapper{
    box-sizing: border-box;
    display: block;
    position: relative;
    z-index: 898;
}

.container{
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
}

.row{
    box-sizing: border-box;
    margin-left: -15px;
    margin-right: -15px;
}

.col-md-12{
box-sizing: border-box;
position: relative;
min-height: 1px;
float: left;
width: 100%;
padding-left: 15px;
padding-right: 15px;
}

.header-menu{
box-sizing: border-box;
position: relative;
transition: all 0.3s;
height: 80px;
}

.item-logo{
position: relative;
top: 50%;
margin-top: 15px;
transform: translateY(-50%);
float: left;
}

.logo {
box-sizing: border-box;
color: #02a9e3;
display: block;
text-decoration: none;
width: 180px;
}

.item-menu { 
box-sizing: border-box;
position: relative;
float: right;
top: 50%;
transform: translateY(-50%);
}

.menu {
box-sizing: border-box;
border: 0;
font-size: 100%;
list-style: none;
margin: 0;
padding: 0;
}

.menu-item{  
box-sizing: border-box;
border: 0;
font-size: 100%;
margin: 0 30px 0 0;
padding: 25px 0;
float: left;
position: relative;
}

a{   
box-sizing: border-box;
text-decoration: none;
font-weight: bold;
transition: color 0.3s;
font-size: 16px;
line-height: 26px;
font-family: Roboto;
color: #58585a;
position: relative;
}