<div class="selection">
    <div class="video_container">
        <div class="color-overlay"></div>
        <video onloadedmetadata="this.muted=true" autoplay loop  preload="auto">

            <source src="../../assets/video.mp4" type="video/mp4">
                <source src="../../assets/video.mp4" type="video/mp4">
                    <source src="../../assets/video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="side-logo">
        <h1> Your business partner!</h1>
        <div> A BPO company with focus on automation, technology and smart solutions for your business.</div>
    </div>
    <div class="empty">

    </div>
</div>